<!-- profile.component.html -->
@if (showProfile() && formProfileData; as data1) {
  <form [formGroup]="data1.formGroup" (ngSubmit)="submit()">
    <div class="grid grid-cols-6 gap-4">
      <div class="col-span-6 text-center">
        <h2 class="text-4xl font-semibold">{{ 'PROFILE_HEADER' | translate }}</h2>
      </div>

      <!-- Profile Picture -->
      <div
        class="col-span-11 col-start-1 md:col-span-4 md:col-start-2 lg:col-span-2 lg:col-start-3"
      >
        <sic-profile [size]="150" [visibility]="4" formControlName="uploadGroupData"></sic-profile>
      </div>

      <!-- Tax ID -->
      <div
        class="col-span-11 col-start-1 md:col-span-4 md:col-start-2 lg:col-span-2 lg:col-start-3 flex gap-6"
      >
        <sic-input
          [label]="'PROFILE_TAXID_LABEL' | translate"
          mask="0-0000-00000-00-0"
          formControlName="taxId"
          [errorMessages]="{
            required: ('PROFILE_TAXID_REQUIRED' | translate),
            duplicate: ('PROFILE_TAXID_DUPLICATE' | translate),
          }"
        >
        </sic-input>
      </div>

      <!-- Title -->
      <div
        class="col-span-11 col-start-1 md:col-span-4 md:col-start-2 lg:col-span-2 lg:col-start-3"
      >
        <sic-combobox
          [label]="'PROFILE_TITLE_LABEL' | translate"
          formControlName="titleId"
          [apiUrl]="service.apiGetComboboxTitle"
          [params]="{ personType: 'INDIVIDUAL' }"
        >
        </sic-combobox>
      </div>

      <!-- Name (English) -->
      <div
        class="col-span-11 col-start-1 md:col-span-4 md:col-start-2 lg:col-span-2 lg:col-start-3 flex gap-6"
      >
        <div class="flex-2">
          <sic-input
            [label]="'PROFILE_FIRSTNAME_EN_LABEL' | translate"
            formControlName="firstNameEn"
            [errorMessages]="{ required: ('PROFILE_REQUIRED_FIRSTNAME' | translate) }"
          ></sic-input>
        </div>
        <div class="flex-1">
          <sic-input [label]="'PROFILE_MIDDLENAME_LABEL' | translate" formControlName="middleNameEn"></sic-input>
        </div>
        <div class="flex-2">
          <sic-input
            [label]="'PROFILE_LASTNAME_LABEL' | translate"
            formControlName="lastNameEn"
            [errorMessages]="{ required: ('PROFILE_REQUIRED_LASTNAME' | translate) }"
          ></sic-input>
        </div>
      </div>

      <!-- Name (Local) -->
      <div
        class="col-span-11 col-start-1 md:col-span-4 md:col-start-2 lg:col-span-2 lg:col-start-3 flex gap-6"
      >
        <div class="flex-2">
          <sic-input
            [label]="'PROFILE_FIRSTNAME_LOCAL_LABEL' | translate"
            formControlName="firstNameLocal"
            [errorMessages]="{ required: ('PROFILE_REQUIRED_FIRSTNAME' | translate) }"
          ></sic-input>
        </div>
        <div class="flex-1">
          <sic-input [label]="'PROFILE_MIDDLENAME_LABEL' | translate" formControlName="middleNameLocal"></sic-input>
        </div>
        <div class="flex-2">
          <sic-input
            [label]="'PROFILE_LASTNAME_LABEL' | translate"
            formControlName="lastNameLocal"
            [errorMessages]="{ required: ('PROFILE_REQUIRED_LASTNAME' | translate) }"
          ></sic-input>
        </div>
      </div>

      <!-- Country -->
      <div
        class="col-span-11 col-start-1 md:col-span-4 md:col-start-2 lg:col-span-2 lg:col-start-3"
      >
        <sic-combobox
          [label]="'PROFILE_COUNTRY_LABEL' | translate"
          formControlName="countryId"
          [apiUrl]="service.apiGetComboboxCountry"
          (selectionChanged)="onCountryChange($event)"
          [errorMessages]="{ required: ('PROFILE_REQUIRED_COUNTRY' | translate) }"
        >
        </sic-combobox>
      </div>

      <!-- Address -->
      <div
        class="col-span-11 col-start-1 md:col-span-4 md:col-start-2 lg:col-span-2 lg:col-start-3"
      >
        <sic-input-area [label]="'PROFILE_ADDRESS_EN_LABEL' | translate" formControlName="addressEn"></sic-input-area>
      </div>
      <div
        class="col-span-11 col-start-1 md:col-span-4 md:col-start-2 lg:col-span-2 lg:col-start-3"
      >
        <sic-input-area [label]="'PROFILE_ADDRESS_LOCAL_LABEL' | translate" formControlName="addressLocal"></sic-input-area>
      </div>

      <!-- Local Address -->
      @if (data1.formGroup.get('supportLocalAddress')?.value) {
        <div
          class="col-span-11 col-start-1 md:col-span-4 md:col-start-2 lg:col-span-2 lg:col-start-3"
        >
          <sic-combobox
            [label]="'PROFILE_PROVINCE_LABEL' | translate"
            formControlName="provinceId"
            [apiUrl]="service.apiGetComboboxProvince"
            [params]="{ countryId: $safeNavigationMigration(data1.formGroup.get('countryId')?.value) }"
            (selectionChanged)="onProvinceChange($event)"
          >
          </sic-combobox>
        </div>
        <div
          class="col-span-11 col-start-1 md:col-span-4 md:col-start-2 lg:col-span-2 lg:col-start-3"
        >
          <sic-combobox
            [label]="'PROFILE_DISTRICT_LABEL' | translate"
            formControlName="districtId"
            [apiUrl]="service.apiGetComboboxDistrict"
            [params]="{ provinceId: $safeNavigationMigration(data1.formGroup.get('provinceId')?.value) }"
            (selectionChanged)="onDistrictChange($event)"
          >
          </sic-combobox>
        </div>
        <div
          class="col-span-11 col-start-1 md:col-span-4 md:col-start-2 lg:col-span-2 lg:col-start-3"
        >
          <sic-combobox
            [label]="'PROFILE_SUBDISTRICT_LABEL' | translate"
            formControlName="subDistrictId"
            [apiUrl]="service.apiGetComboboxSubDistrict"
            [params]="{ districtId: $safeNavigationMigration(data1.formGroup.get('districtId')?.value) }"
            (selectionChanged)="onSubDistrictChange($event)"
          >
          </sic-combobox>
        </div>
        <div
          class="col-span-11 col-start-1 md:col-span-4 md:col-start-2 lg:col-span-2 lg:col-start-3"
        >
          <sic-input [label]="'PROFILE_ZIPCODE_LABEL' | translate" formControlName="zipCode"></sic-input>
        </div>
      }

      <!-- Email (ไม่มี event) -->
      <div
        class="col-span-11 col-start-1 md:col-span-4 md:col-start-2 lg:col-span-2 lg:col-start-3"
      >
        <sic-input
          [label]="'PROFILE_EMAIL_LABEL' | translate"
          formControlName="email"
          [errorMessages]="{
            required: ('PROFILE_REQUIRED_EMAIL' | translate),
            email: ('PROFILE_EMAIL_INVALID' | translate),
            duplicate: ('PROFILE_EMAIL_DUPLICATE' | translate),
          }"
        >
        </sic-input>
      </div>

      <!-- Phone Number -->
      <div
        class="col-span-11 col-start-1 md:col-span-4 md:col-start-2 lg:col-span-2 lg:col-start-3"
      >
        <sic-input-phone
          [label]="'PROFILE_PHONE_LABEL' | translate"
          formControlName="phoneNumber"
          [errorMessages]="{
            required: ('PROFILE_REQUIRED_PHONE' | translate),
            duplicate: ('PROFILE_PHONE_DUPLICATE' | translate),
          }"
        >
        </sic-input-phone>
      </div>

      <!-- Submit -->
      <div
        class="col-span-11 col-start-1 md:col-span-4 md:col-start-2 lg:col-span-2 lg:col-start-3 flex justify-end gap-3 mt-5"
      >
        <sic-button [type]="'submit'" variant="solid" color="primary">{{ 'PROFILE_SAVE_BUTTON' | translate }}</sic-button>
      </div>
    </div>
  </form>
}

<!-- Verify Email -->
@if (!showProfile() && formVerifyData; as data2) {
  <form [formGroup]="data2.formGroup" (ngSubmit)="verify()">
    <div class="grid grid-cols-6 gap-4">
      <div class="col-span-6 text-center">
        <h2 class="text-4xl font-semibold">{{ 'PROFILE_VERIFY_HEADER' | translate }}</h2>
      </div>
      <div class="col-span-6 text-center">
        <h2 class="text-4xl font-semibold">
          {{ formVerifyData.formGroup.get('recipient')?.value }}
        </h2>
      </div>
      <div
        class="col-span-11 col-start-1 md:col-span-4 md:col-start-2 lg:col-span-2 lg:col-start-3"
      >
        <div class="flex gap-4">
          <div class="flex-1">
            <sic-input
              [label]="'PROFILE_VERIFY_CODE_LABEL' | translate"
              formControlName="verifyToken"
              [placeholder]="'PROFILE_VERIFY_CODE_PLACEHOLDER' | translate"
              [errorMessages]="{
                required: ('PROFILE_REQUIRED_VERIFY_CODE' | translate),
              }"
            ></sic-input>
          </div>
          <div class="w-50">
            <sic-button [block]="true" [type]="'button'" variant="outline" color="primary" (click)="resend()">
              {{ 'PROFILE_RESEND_BUTTON' | translate }}
            </sic-button>
          </div>
        </div>
      </div>
      <div
        class="col-span-11 col-start-1 md:col-span-4 md:col-start-2 lg:col-span-2 lg:col-start-3 flex justify-end gap-3 mt-5"
      >
        <sic-button [type]="'button'" variant="outline" color="primary" (click)="back()">
          {{ 'PROFILE_BACK_BUTTON' | translate }}
        </sic-button>
        <sic-button [type]="'submit'" variant="solid" color="primary"> {{ 'PROFILE_CONFIRM_BUTTON' | translate }} </sic-button>
      </div>
    </div>
  </form>
}
