@let realm = kcContext.realm;
@let url = kcContext.url;

<app-main-layout [subtitle]="i18n.msgStr('emailForgotTitle')">
  <sic-text
    size="sm"
    color="muted"
    [block]="true"
    class="kc-sic-instruction"
  >
    @if (realm?.duplicateEmailsAllowed) {
      {{ i18n.msgStr('emailInstructionUsername') }}
    } @else {
      {{ i18n.msgStr('emailInstruction') }}
    }
  </sic-text>

  <form
    id="kc-reset-password-form"
    method="post"
    [action]="url?.loginAction"
    (submit)="handleSubmit($event)"
  >
    <sic-input
      name="username"
      [label]="
        !realm?.loginWithEmailAllowed
          ? i18n.msgStr('username')
          : !realm?.registrationEmailAsUsername
            ? i18n.msgStr('usernameOrEmail')
            : i18n.msgStr('email')
      "
      [formControl]="resetForm.controls.username"
      [errorMessages]="{ required: i18n.msgStr('username') + ' is required' }"
    />

    <sic-button
      type="submit"
      variant="solid"
      color="primary"
      size="sm"
      [block]="true"
      class="kc-sic-submit"
    >
      {{ i18n.msgStr('doSubmit') }}
    </sic-button>
  </form>

  <sic-flex
    justify="center"
    class="kc-sic-back-hint"
  >
    <sic-a-link
      variant="ghost"
      size="sm"
      [href]="url?.loginUrl"
    >
      <span [innerHTML]="i18n.msgStr('backToLogin')"></span>
    </sic-a-link>
  </sic-flex>
</app-main-layout>
