/* src/app/features/pmdt06/pmdt06C/pmdt06C.component.css */
:host {
  display: block;
  height: 100%;
}

.prose {
  max-width: 100%;
}

.prose code {
  background: rgba(0,0,0,0.1);
  padding: 0.1rem 0.3rem;
  border-radius: 3px;
  font-size: 0.85em;
}

.prose pre {
  background: rgba(0,0,0,0.1);
  padding: 0.5rem;
  border-radius: 5px;
  overflow-x: auto;
}