/* src/app/feature/pm/dt/pmdt13/pmdt13.component.css */

:host ::ng-deep ol {
  list-style-type: decimal !important;
  padding-left: 1.25rem !important;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

:host ::ng-deep ul {
  list-style-type: disc !important;
  padding-left: 1.25rem !important;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

:host ::ng-deep li {
  margin-bottom: 0.125rem;
  display: list-item !important;
}
